# Round function

In [1]:
a = 4.2456
round(a,2)

4.25

In [3]:
a = 12.6
print(round(a))

13

In [3]:
a = 12.456622
print(round(a,4))

12.4566

In [4]:
a = 14.45678
round(a,3)

14.457

In [5]:
round(a,4)

14.4568

In [6]:
print(round(1478.789451236, 5))

1478.78945

In [9]:
""" Mohan buys 3 tablets cost of tablet 1 is rs 45.67, cost of tablet 2 in rs 68.967, cost of tablet 3 is rs 574.784. find out how much price mohan will pay and round off it"""

tablet_one = 45.67
tablet_two = 68.967
tablet_three = 574.784
print(round(tablet_one+tablet_two+tablet_three))

689

In [12]:
tablet_1 = 45.67
tablet_2 = 68.967
tablet_3 = 574.784
print(round(tablet_1+tablet_2+tablet_3))

689

In [10]:
round( 789.1456, 2)

789.15

# div mod function

In [1]:
a = divmod(25,7)
print(a)
print(type(a))

(3, 4)
<class 'tuple'>

In [1]:
a = (10,11,12,13,14)
print(a[2])

12

In [5]:
a = divmod(7,5)
print(a)

(1, 2)

In [3]:
type(a)

tuple

In [4]:
a[0]
print(a[0])

3

In [5]:
a[1]
print(a[1])

4

In [7]:
print(a[-2])

3

In [15]:
25//7

3

In [17]:
25%7

4

In [19]:
a = divmod(123.456,3)
print(a)

(41.0, 0.45600000000000307)

In [20]:
print(divmod(123456789, 45125))

(2735, 39914)

In [22]:
""" divide the numbe 148.789 by 12,13,14 and 15 separtely, and their quotient , remainder add """
a = divmod(148.789,12)
b = divmod(148.789, 13)
c = divmod(148.789,14)
d = divmod(148.789,15)
print(a,b,c,d)

(12.0, 4.788999999999987) (11.0, 5.788999999999987) (10.0, 8.788999999999987) (9.0, 13.788999999999987)

In [23]:
q = a[0] + b[0] + c[0] +d[0]
print("sum of quotients are:", q)
r = a[1] + b[1] + c[1] + d[1]
print("sum of remainders are:", r)

sum of quotients are: 42.0
sum of remainders are: 33.15599999999995

In [24]:
round(r)

33

# isinsatnce function

# isinstance Function

In [2]:
isinstance(3.2,float)

True

In [1]:
isinstance(3,complex)

False

In [6]:
isinstance(3.0,int)

False

In [7]:
isinstance(3.0,(int,float))

True

In [4]:
print(isinstance("python is amazing", (int,float,str)))

True

In [10]:
isinstance(2+3j, ( int, float,complex))

True

In [11]:
isinstance( 3.45, ( int,complex))

False

In [12]:
isinstance(3.78,(float,int,complex))

True

# pow function

In [19]:
pow(2,4)

16

In [20]:
2**4

16

In [21]:
pow(45,78)

892433931724899592133340503925107044376202040970794580884598711678709679913526717581436810411421589606106863357126712799072265625

In [22]:
pow(3.2, 4)

104.85760000000002

In [23]:
pow(2+3j,2)

(-5+12j)

In [24]:
(2+3j)**2

(-5+12j)

In [25]:
pow(2,4,7)

2

In [26]:
pow(3,4,5)

1

In [27]:
""" 24 raise to the power 2,3,4,5 and divide it by 7 find the remainder in each case"""
a = pow(24,2,7)
b = pow(24,3,7)
c = pow(24,4,7)
d = pow(24,5,7)
print(a,b,c,d)

2 6 4 5

In [29]:
""" 63 raise to the power 45 and divide it by 52 find the remainder"""
a = pow(63,45,52)
print(a)

47

# input function , int function and float function

In [27]:
x = float(input("Enter the value"))

Enter the value5.2

In [28]:
print(x)

5.2

In [29]:
print(type(x))

<class 'float'>

In [14]:
x = float(input("enter the value"))

enter the value5.2

In [13]:
print(type(x))

<class 'float'>

In [10]:
x = int(x)

In [11]:
print(x)
print(type(x))

25
<class 'int'>

In [45]:
print(x-21)
print(x+21)

24
66

In [13]:
a = input(" Hello user, please enter your value ")

 Hello user, please enter your value 57.6

In [14]:
print(a)
print(type(a))

57.6
<class 'str'>

In [17]:
a = float(a)

In [18]:
print(a)
print(type(a))

57.6
<class 'float'>

In [19]:
print(a-1.2)
print(a*2)

56.4
115.2

In [15]:
""" Lets make a result of the student, ask the user to enter the marks of eng, hin,maths, science and social, and find out the percent of the student"""
a = input("Enter the marks of maths")
b = input("Enter the marks of science")
c = input("Enter the marks of social")
d = input("Enter the marks of English")
e = input("Enter the marks of Hindi")

Enter the marks of maths80
Enter the marks of science75
Enter the marks of social65
Enter the marks of English45
Enter the marks of Hindi20

In [19]:
a = float(a)
b = float(b)
c = float(c)
d = float(d)
e = float(e)
print(a+b+c+d+e)

285.0

In [20]:
print((285/500)*100)

56.99999999999999

# Len function

In [67]:
a = "I am learning python"
print(a)

I am learning python

In [69]:
print(len(a))

20

In [70]:
x = "python is a high level programmming language"
y = " and it is very easy to learn"
print(x + y )

python is a high level programmming language and it is very easy to learn

In [71]:
print(len(x + y ))

73

In [72]:
L = [12,17,45,96,521,45,78,23,851]
len(L)

9

In [74]:
A = 12345.456
len(A)

TypeError: object of type 'float' has no len()

# min and max function

In [75]:
L = [45,12,41,-6,85,12,-78]
min(L)

-78

In [76]:
max(L)

85

In [77]:
""" Ask the user to enter 5 values and find the minimum and the maximum values """
a = input("Enter 1st value")
b = input(" Enter 2nd Value")
c= input("Enter 3rd value")
d= input("Enter 4th value")
e= input("Enter 5th value")

Enter 1st value12
 Enter 2nd Value2.35
Enter 3rd value-4
Enter 4th value51
Enter 5th value-47

In [78]:
a = int(a)
b = float(b)
c = int(c)
d = int(d)
e = int(e)
print("Values given by user", a,b,c,d,e)
print("The minimum value is", min(a,b,c,d,e))
print(" the maximum value is :", max(a,b,c,d,e))

Values given by user 12 2.35 -4 51 -47
The minimum value is -47
 the maximum value is : 51

# Sorted function

In [2]:
L = [12,74,23,-9,-45,58,96,0,5,63]
sorted(L)

[-45, -9, 0, 5, 12, 23, 58, 63, 74, 96]

In [7]:
sorted(L, reverse = True)

[96, 74, 63, 58, 23, 12, 5, 0, -9, -45]

In [90]:
""" take 5 values from the user and arrange them in ascending and descending order"""
a = input(" Enter 1st value")
b = input(" Enter 2nd value")
c = input(" Enter 3rd value")
d = input(" Enter 4th value")
e = input(" Enter 5th value")

 Enter 1st value124
 Enter 2nd value12.56
 Enter 3rd value-5
 Enter 4th value26
 Enter 5th value-94

In [91]:
a = int(a)
b = float(b)
c = int(c)
d = int(d)
e = int(e)
print(a,b,c,d,e)

124 12.56 -5 26 -94

In [92]:
x = (a,b,c,d,e)
print(sorted(x))

[-94, -5, 12.56, 26, 124]

In [93]:
print(sorted(x, reverse= True))

[124, 26, 12.56, -5, -94]

# how to use any function in python

In [1]:
pow?

In [22]:
help(divmod)

Help on built-in function divmod in module builtins:

divmod(x, y, /)
    Return the tuple (x//y, x%y).  Invariant: div*y + mod == x.

In [96]:
divmod?

In [97]:
divmod??

In [98]:
max??

In [1]:
min??