# Unit - 11

# Dictionary in python

In [2]:
a = { "colour" :"red",
       "year" : 1997, 
        "sports" : "cricket"}
print(a)
print(type(a))

{'colour': 'red', 'year': 1997, 'sports': 'cricket'}
<class 'dict'>

In [3]:
a = { "colour" :"red",
       "year" : 1997, 
        "sports" : "cricket"}
print(a["year"])
print(type(a))

1997
<class 'dict'>

# duplicates not allowed

In [4]:
a = { "colour" :"red",
       "year" : 1997, 
        "sports" : "cricket",
         "sports" :"football",
           "sports" : "tennis"}
print(a)
print(type(a))

{'colour': 'red', 'year': 1997, 'sports': 'tennis'}
<class 'dict'>

In [9]:
a = { "colour" :"red",
       "year" : 1997, 
         "sports" :"basket ball",
        "sports" : "cricket",
         "sports" :"football",
           "sports" : "tennis"
            }
print(a)
print(type(a))

{'colour': 'red', 'year': 1997, 'sports': 'tennis'}
<class 'dict'>

# dictonary length

In [1]:
d = { "apple": "fruit", "red":"colour" , "north":"direction", 2:"code"}
print(len(d))

4

# dictionary item - data types

In [2]:
a = { "colour":"red", 12:14, 2:56.3, "apple":[1,2,3], 3:(-1,-2,-3), "boy":{2,4,6}}
print(a)
print(type(a))

{'colour': 'red', 12: 14, 2: 56.3, 'apple': [1, 2, 3], 3: (-1, -2, -3), 'boy': {2, 4, 6}}
<class 'dict'>

# dict() constructor

In [3]:
n = dict( name = "priya", age = 24, gender = "female")
print(n)
print(type(n))

{'name': 'priya', 'age': 24, 'gender': 'female'}
<class 'dict'>

# accessing items
you can access the items of a dictionary by refering to its key name inside the square bracket

In [4]:
n = { 1:"apple", 2:"boy", 3:"cat"}
print(n)
print(n[2])
print(n[3])

{1: 'apple', 2: 'boy', 3: 'cat'}
boy
cat

# get() method

In [5]:
n = { 1:"apple", 2:"boy", 3:"cat"}
x = n.get(2)
print(x)

boy

# keys()

In [7]:
m ={"apple":12, 25:"hello", 26.3:"cat", "python":-12}
x = m.keys()

print(x)

dict_keys(['apple', 25, 26.3, 'python'])

In [8]:
m ={"apple":12, 25:"hello", 26.3:"cat", "python":-12}
print(m.keys())

dict_keys(['apple', 25, 26.3, 'python'])

# values()

In [10]:
m ={"apple":12, 25:"hello", 26.3:"cat", "python":-12}
x = m.values()
print(x)
print(type(x))

dict_values([12, 'hello', 'cat', -12])
<class 'dict_values'>

In [11]:
m ={"apple":12, 25:"hello", 26.3:"cat", "python":-12}
print(m.values())

dict_values([12, 'hello', 'cat', -12])

# items()

In [4]:
m ={"apple":12, 25:"hello", 26.3:"cat", "python":-12}
x = m.items()
print(x)
print(type(x))

dict_items([('apple', 12), (25, 'hello'), (26.3, 'cat'), ('python', -12)])
<class 'dict_items'>

In [1]:
m ={"apple":12, 25:"hello", 26.3:"cat", "python":-12}
x = m.items()
print(x)
print(type(x))

TypeError: 'dict_items' object is not subscriptable

# check if key exist

In [15]:
m ={"apple":12, 25:"hello", 26.3:"cat", "python":-12}
if 25 in m:
    print("yes")

yes

In [18]:
m ={"apple":12, 25:"hello", 26.3:"cat", "python":-12}
if "boy" in m:
    print("yes")
else:
    print("no")

no

# change values

In [19]:
b = {10:"hello", 11:"world", 9:[12,13,14]}
b[9] = ["a", "b", "c"]
print(b)

{10: 'hello', 11: 'world', 9: ['a', 'b', 'c']}

# update()

In [20]:
b = {10:"hello", 11:"world", 9:[12,13,14]}
b.update({9:["a","b","c"]})
print(b)

{10: 'hello', 11: 'world', 9: ['a', 'b', 'c']}

In [21]:
a = {1:"apple",2:"boy", 3:"cat", 4:"datascience"}
a.update({2:(45,46,47)})
print(a)

{1: 'apple', 2: (45, 46, 47), 3: 'cat', 4: 'datascience'}

# adding items

In [22]:
p = {"colour":"red", "country":"Inida", "year":[2023,2024,2025]}
p["fruit"] = "apple"
print(p)

{'colour': 'red', 'country': 'Inida', 'year': [2023, 2024, 2025], 'fruit': 'apple'}

In [24]:
p = {"colour":"red", "country":"Inida", "year":[2023,2024,2025]}
p["fruit"] = "apple"
print(p)
p[9]="python is so easy"
print(p)

{'colour': 'red', 'country': 'Inida', 'year': [2023, 2024, 2025], 'fruit': 'apple'}
{'colour': 'red', 'country': 'Inida', 'year': [2023, 2024, 2025], 'fruit': 'apple', 9: 'python is so easy'}

# update dictionary

In [27]:
p = {"colour":"red", "country":"India", "year":[2023,2024,2025]}
p.update({"country":"Bharat"})
print(p)
p.update({"capital":"New delhi"})
print(p)

{'colour': 'red', 'country': 'Bharat', 'year': [2023, 2024, 2025]}
{'colour': 'red', 'country': 'Bharat', 'year': [2023, 2024, 2025], 'capital': 'New delhi'}

# removing items

# pop() method

In [3]:
a = { 10:"hello", 12:"program" , 13:(1,2,3)}
a.pop(12)
print(a)

{10: 'hello', 13: (1, 2, 3)}

# popitem() method

In [29]:
a = { 10:"hello", 12:"program" , 13:(1,2,3)}
a.popitem()
print(a)

{10: 'hello', 12: 'program'}

# del() method

In [30]:
a = {"a":"hello", "b":"world", "c":(10,11,12)}
del a["b"]
print(a)

{'a': 'hello', 'c': (10, 11, 12)}

In [31]:
a = {"a":"hello", "b":"world", "c":(10,11,12)}
del a
print(a)

NameError: name 'a' is not defined

# clear() method

In [34]:
a = {1:"hello", 2:23,3:36}
a.clear()
print(a)
print(type(a))

{}
<class 'dict'>

# copy() method

In [38]:
""" why you need copy method"""
a = {1:[23,25,28], "code":(-1,-2,-3), "India":"Best country"}
b = a
print(b)
a.update({"India":"best country in the world"})
print(a)
print(b)

{1: [23, 25, 28], 'code': (-1, -2, -3), 'India': 'Best country'}
{1: [23, 25, 28], 'code': (-1, -2, -3), 'India': 'best country in the world'}
{1: [23, 25, 28], 'code': (-1, -2, -3), 'India': 'best country in the world'}

In [42]:
a = {1:[23,25,28], "code":(-1,-2,-3), "India":"Best country"}
b = a.copy()
print(b)
b.update({"India":"best country in the world"})
print(a)
print(b)

{1: [23, 25, 28], 'code': (-1, -2, -3), 'India': 'Best country'}
{1: [23, 25, 28], 'code': (-1, -2, -3), 'India': 'Best country'}
{1: [23, 25, 28], 'code': (-1, -2, -3), 'India': 'best country in the world'}

# make a copy of a dictionary with the dict() function

In [43]:
a = {1:"clours", 2:"India", 3:[10,11,23]}
b = dict(a)
print(b)
b.update({3:"education"})
print(b)
print(a)

{1: 'clours', 2: 'India', 3: [10, 11, 23]}
{1: 'clours', 2: 'India', 3: 'education'}
{1: 'clours', 2: 'India', 3: [10, 11, 23]}

# Nested Dictionaries

In [45]:
a = {
    "class1":{"name":"anshul", "section":"A", "age":24},
    "class2":{"name":"priya", "section":"B", "age": 21},
    "class3":{"name":"ayush","section":"C", "age":18}
}
print(a)
print(a["class3"]["name"])

{'class1': {'name': 'anshul', 'section': 'A', 'age': 24}, 'class2': {'name': 'priya', 'section': 'B', 'age': 21}, 'class3': {'name': 'ayush', 'section': 'C', 'age': 18}}
ayush

# fromkeys() method

In [47]:
x = ("key1", "key2", "key3")
y = 0
thisdict = dict.fromkeys(x,y)
print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [19]:
x = ("key1", "key2", "key3")
y = True
thisdict = dict.fromkeys(x,y)
print(thisdict)

{'key1': True, 'key2': True, 'key3': True}

In [21]:
thisdict['key2']=False

In [23]:
thisdict

{'key1': True, 'key2': False, 'key3': True}

In [49]:
x = ("key1", "key2", "key3")
a = dict.fromkeys(x)
print(a)

{'key1': None, 'key2': None, 'key3': None}

# setdefault() Method
The setdefault() method returns the value of the item with the specified key. If the key does not exist, insert the key, with the specified value,

In [29]:
movie = { "genre": "comedy",
         "title":"spiderman",
         "year":2000

}
print(movie)
x = movie.setdefault("title", "xyz")
print(x)
movie

{'genre': 'comedy', 'title': 'spiderman', 'year': 2000}
spiderman

{'genre': 'comedy', 'title': 'spiderman', 'year': 2000}

In [31]:
movie = { "genre": "comedy",
         "title":"spiderman",
         "year":2000

}
x = movie.setdefault("length", "2 hours")
print(x)
print(movie)

2 hours
{'genre': 'comedy', 'title': 'spiderman', 'year': 2000, 'length': '2 hours'}

In [55]:
""" Python | Sort Python Dictionaries by Key  """
p = {"apple":1, "tamrind":2, "orange":3, "sugarcane": 4}
a = list(p.keys())
print(a)
a.sort()
print(a)
sorted_dict = {i:p[i] for i in a}
print(sorted_dict)

['apple', 'tamrind', 'orange', 'sugarcane']
['apple', 'orange', 'sugarcane', 'tamrind']
{'apple': 1, 'orange': 3, 'sugarcane': 4, 'tamrind': 2}

In [ ]:
for i in a:
    print(i,p[i])

In [56]:
""" user input - dictionary """
a = {}
n = int(input("enter the number of items you want in the dictionary:"))
for i in range(n):
    b = input("Enter keys")
    c = input("enter values")
    a.update({b:c})
    print(a)

enter the number of items you want in the dictionary:4
Enter keys"apple"
enter values14
{'"apple"': '14'}
Enter keysboy
enter values20
{'"apple"': '14', 'boy': '20'}
Enter keys13
enter values"cherry"
{'"apple"': '14', 'boy': '20', '13': '"cherry"'}
Enter keys18
enter values23.56
{'"apple"': '14', 'boy': '20', '13': '"cherry"', '18': '23.56'}

In [59]:
""" take the input from the user aand reverse the dictionary"""
a = {}
n = int(input("enter the number of items you want in the dictionary"))
for i in range(n):
    b = input("enter keys ")
    c = input("enter values")
    a.update({b:c})
print(a)
m = list(a.items())
print(m)
m.reverse()
print(m)
print(dict(m))

enter the number of items you want in the dictionary3
enter keys 14
enter valuespython
enter keys 15
enter valueshello
enter keys 16
enter valuescode
{'14': 'python', '15': 'hello', '16': 'code'}
[('14', 'python'), ('15', 'hello'), ('16', 'code')]
[('16', 'code'), ('15', 'hello'), ('14', 'python')]
{'16': 'code', '15': 'hello', '14': 'python'}

In [60]:
""" find out man and min key and values in dictionary"""
a = { 12:"horse", 19:"lion", 25:"monkey", 2:"leopard"}
b = list(a.keys())
c = list(a.values())
print(max(b))
print(min(b))
print(max(c))
print(min(c))

25
2
monkey
horse