# Unit -9

# Tuples in python

In [1]:
T = (12,13,18,56,78,36)
print(T)
print(type(T))

(12, 13, 18, 56, 78, 36)
<class 'tuple'>

In [2]:
T = (12,13,18,56,78,36,-36,-45,5.36,7.89,"apple","python", "code")
print(T)
print(type(T))

(12, 13, 18, 56, 78, 36, -36, -45, 5.36, 7.89, 'apple', 'python', 'code')
<class 'tuple'>

In [3]:
T = ()
print(T)
print(type(T))

()
<class 'tuple'>

In [8]:
m = (25,)
print(type(m))

<class 'tuple'>

In [9]:
m = (25.3,)
print(type(m))

<class 'tuple'>

In [10]:
m = ("hello",)
print(type(m))

<class 'tuple'>

In [11]:
T = (12,35,78,(2,4,6),(2.3,4.3,5.6),("HELLO","world"))
print(T)
print(type(T))

(12, 35, 78, (2, 4, 6), (2.3, 4.3, 5.6), ('HELLO', 'world'))
<class 'tuple'>

# concatenation of tuples

In [12]:
tuple1 = (12,13,14,15)
tuple2 = (10,15,20,25,30)
print(tuple1 + tuple2)

(12, 13, 14, 15, 10, 15, 20, 25, 30)

# nesting of tuples

In [13]:
tuple1 = (20,13,14,15)
tuple2 = (-1,-2,-3,-4)
tuple3 =(tuple1,tuple2)
print(tuple1)
print(tuple2)
print(tuple3)

(20, 13, 14, 15)
(-1, -2, -3, -4)
((20, 13, 14, 15), (-1, -2, -3, -4))

# multiply tuples

In [15]:
fruits = ("apple", "banana", "cherry")
t = fruits*2
print(t)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [1]:
fruits = ("apple", "banana", "cherry")
t = fruits*3
print(t)
type(t)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

tuple

# length of the tuple

In [17]:
a= (14,78,36,-6,3.69,"cat","bat","rat")
print(len(a))

8

In [18]:
t= (12,14,16,12,14,86,74,1,2,14,36,86)
print(t)
print(type(t))

(12, 14, 16, 12, 14, 86, 74, 1, 2, 14, 36, 86)
<class 'tuple'>

# count() method

In [20]:
t= (12,14,16,12,14,86,74,1,2,14,36,86)
print(t.count(14))
print(t.count(86))
print(t)
print(type(t))

3
2
(12, 14, 16, 12, 14, 86, 74, 1, 2, 14, 36, 86)
<class 'tuple'>

# indexing in tuple

In [23]:
a = (47,12,63,54,12,78,48,36)
print(a[5])

78

In [24]:
a = (47,12,63,54,12,78,48,36)
print(a[2])

63

In [25]:
a = (47,12,63,54,12,78,48,36)
print(a[-1])

36

In [26]:
a = (47,12,63,54,12,78,48,36)
print(a[-6])

63

# index method

In [37]:
a = (14,12,36,89,74,23,16)
x = a.index(89)
print(x)

3

In [39]:
a = (14,12,36,89,74,23,16,"code","program","python")
x = a.index("code")
print(x)

7

# slicing in tuple

In [41]:
a = (45,21,31,14,16,28,37,69)
print(len(a))
print(a[0:6])

8
(45, 21, 31, 14, 16, 28)

In [42]:
a = (45,21,31,14,16,28,37,69)
print(len(a))
print(a[:6])

8
(45, 21, 31, 14, 16, 28)

In [43]:
a = (45,21,31,14,16,28,37,69)
print(len(a))
print(a[:8])

8
(45, 21, 31, 14, 16, 28, 37, 69)

In [45]:
a = (45,21,31,14,16,28,37,69)
print(len(a))
print(a[:7])

8
(45, 21, 31, 14, 16, 28, 37)

In [46]:
a = (45,21,31,14,16,28,37,69)
print(len(a))
print(a[0:8:2])

8
(45, 31, 16, 37)

In [6]:
a = (45,21,31,14,16,28,37,69)
print(len(a))
print(a[-6:-1])

8
(31, 14, 16, 28, 37)

In [48]:
a = (45,21,31,14,16,28,37,69)
print(len(a))
print(a[::3])

8
(45, 14, 37)

In [49]:
a = (45,21,31,14,16,28,37,69)
print(a[::-1])

(69, 37, 28, 16, 14, 31, 21, 45)

# repetition in python tuples

In [7]:
a = (20,)*3
print(a)
print(type(a))

(20, 20, 20)
<class 'tuple'>

In [51]:
tuple = (20.5)*3
print(tuple)

61.5

In [53]:
tuple = ("apple")*3
print(tuple)

appleappleapple

In [2]:
tuple1 = (10,8,9,7)
tuple1[1] =15
print(tuple)

TypeError: 'tuple' object does not support item assignment

In [56]:
m = (23,25,27,29)
print(m.append(31))

AttributeError: 'tuple' object has no attribute 'append'

# deleting in tuple

In [2]:
m = (23,25,27,29)
del(m)
print(m)

NameError: name 'm' is not defined

# tuple method

In [2]:
b = [12,15,23,24,28]
p = tuple(b)
print(p)

(12, 15, 23, 24, 28)

In [6]:
""" convert a list into tuple and reverse it """
a = [12,32,45,65,"apple","pink","blue"]
q = tuple(a)
print(q)
print(q[::-1])

(12, 32, 45, 65, 'apple', 'pink', 'blue')
('blue', 'pink', 'apple', 65, 45, 32, 12)

# add items in tuple

In [9]:
""" add the value 18 in the tuple"""
t1 = (12,13,14,15,16,17)
l1 = list(t1)
print(l1)
l1.append(18)
print(l1)
t1 = tuple(l1)
print(t1)

[12, 13, 14, 15, 16, 17]
[12, 13, 14, 15, 16, 17, 18]
(12, 13, 14, 15, 16, 17, 18)

# remove item from the tuple

In [13]:
a  = (12,32,63,21,45,78,37)
t2 = list(a)
print(t2)
t2.remove(78)
print(t2)
t2=tuple(t2)
print(t2)

[12, 32, 63, 21, 45, 78, 37]
[12, 32, 63, 21, 45, 37]
(12, 32, 63, 21, 45, 37)

# max in tuple

In [1]:
a = (12,35,27,41,9)
print(max(a))

41

In [2]:
a = (12,35,27,41,9,92.36,2.36,7.89,-79,-1)
print(max(a))

92.36

In [4]:
a = ("hello", "apple", "mobile", "code","datascience")
print(max(a))

mobile

# min in tuple

In [5]:
a = (12,32,34,36,84,12,3)
print(min(a))

3

In [6]:
a = (12,32,34,36,84,12,3,-5,-9,3.69,0.23)
print(min(a))

-9

In [7]:
a = ("hello", "apple", "mobile", "code","datascience")
print(min(a))

apple

# unpacking of tuple

In [2]:
fruits =("apple", "banana","cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

# using asterisk*

In [11]:
fruits =("apple", "banana","cherry", "strawberry", "raspberry")
(green, yellow, *red ) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [12]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
( green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [17]:
""" sort a tuple"""
a = (23,87,14,53,91,3,-14,3.56,-78)
n = list(a)
print(n)
n.sort()
print(n)
n = tuple(n)
print(n)

[23, 87, 14, 53, 91, 3, -14, 3.56, -78]
[-78, -14, 3, 3.56, 14, 23, 53, 87, 91]
(-78, -14, 3, 3.56, 14, 23, 53, 87, 91)

# using loops in tuple

In [18]:
""" separate positive and negative integers from the tuple"""
a = (14,6,18,23,-5,-9,-20,26,31,-2,8,-10)
n1 =[]
n2 = []
a = list(a)
for i in range(len(a)):
    if a[i]>=0:
        n1.append(a[i])
print(n1)
print(tuple(n1))

for i in range(len(a)):
    if a[i]<0:
        n2.append(a[i])
print(n2)
print(tuple(n2))

[14, 6, 18, 23, 26, 31, 8]
(14, 6, 18, 23, 26, 31, 8)
[-5, -9, -20, -2, -10]
(-5, -9, -20, -2, -10)

In [24]:
""" orignal list of tuple [(1,2), (2,3), (3,4)]
conver it into list of lists [[1,2], [2,3], [3,4]]"""

a = [(1,2), (2,3), (3,4)]
b = []
print(type(a))
n1 = list(a[0])
n2 = list(a[1])
n3 = list(a[2])
b.append(n1)
b.append(n2)
b.append(n3)
print(b)

<class 'list'>
[[1, 2], [2, 3], [3, 4]]

In [30]:
""" Original list of tuples:
[(1, 2), (2, 3), (3, 4)]
Sum of all the elements of each tuple stored inside the said list of tuples:
[3, 5, 7]"""

a = [(1,2), (2,3), (3,4)]

n1 = a[0]
m1 = n1[0]+n1[1]
print(m1)
n2 = a[1]
m2 = n2[0]+n2[1]
print(m2)
n3 = a[2]
m3 = n3[0]+n3[1]
print(m3)
b =[]
b.append(m1)
b.append(m2)
b.append(m3)
print(b)

3
5
7
[3, 5, 7]

In [29]:
a = []
n = int(input("enter the number of values"))
for i in range(n):
    a.append(int(input("enter elements")))
print(a)
print(type(a))
b = tuple(a)
print(b)
print(type(b))

enter the number of values5
enter elements20
enter elements21
enter elements22
enter elements23
enter elements24
[20, 21, 22, 23, 24]
<class 'list'>
(20, 21, 22, 23, 24)
<class 'tuple'>