# Unit - 5

# While Loop

In [13]:
lst=[1,2,3]

In [17]:
lst.index

1

In [ ]:
lst

In [15]:
lst.append(4)

In [16]:
lst

[1, 2, 3, 4]

In [1]:
""" take the number from the user and print all the numbers in between 1 to that number"""
n = int(input(" Enter the number"))
i = 1
while i<=n:
    print(i)
    i = i+1
print("yes it is done")

 Enter the number5
1
2
3
4
5
yes it is done

In [2]:
""" enter the value and write its multiplication table till 10"""
x = int(input("enter the value"))
i = 1
while i<=10:
    print(x*i)
    
    i=i+1
print("this is the mulplication table")

enter the value7
7
14
21
28
35
42
49
56
63
70
this is the mulplication table

In [8]:
""" TAKE A NUMBER FROM THE USER AND PRINT ITS EXPONENTIAL VAlUE TILL POWER 5"""
x=int(input("enter a value"))
i=1
while i<=5:
    print(x**i)
    i=i+1
print("these are the exponential values")

enter a value6
6
36
216
1296
7776
these are the exponential values

In [ ]:
""" wnter a value and find out the even numbers in between that """

In [ ]:
a = int(input("enter the value"))
i=1
while i<=a:
    if i%2==0:
        print(i)
    else:

# while and if

In [8]:
a= int(input(" kindly enter the value"))
i = 1
while i<=a:
    if i%2==0:
        print(i)
    else:
        pass
    i=i+1

 kindly enter the value10
2
4
6
8
10

In [2]:
x = int(input("enter the number of rows"))
i = 1
while i<=x:#outer loop
    j=1
    while j<=i:#inner loop 
        print("*", end = " ")
        j = j+1
    print()
    i = i+1

enter the number of rows5
*
* *
* * *
* * * *
* * * * *

In [4]:
n = int(input("enter the number of rows"))
i = 1
while i<=n:
    j=n
    while j>=i:
        print("*", end = " ")
        j =j-1
    print()
    i = i+1

enter the number of rows4
* * * *
* * *
* *
*

In [10]:
ls=[[1,2,3],[3,4,5],[10,11,12],[90,98]]
for i in ls:#outer loop
    print("I ki value :",i)
    for j in i:#inner loop 
        print("J ki value:",j)

I ki value : [1, 2, 3]
J ki value: 1
J ki value: 2
J ki value: 3
I ki value : [3, 4, 5]
J ki value: 3
J ki value: 4
J ki value: 5
I ki value : [10, 11, 12]
J ki value: 10
J ki value: 11
J ki value: 12
I ki value : [90, 98]
J ki value: 90
J ki value: 98

# Break statement

In [2]:
n = 10
i =1
while True:
    if i%9==0:
        print("inside if")
        break
    else:
        print("inside else")
        i=i+1
print("done")

inside else
inside else
inside else
inside else
inside else
inside else
inside else
inside else
inside if
done

In [2]:
""" enter the value till number 10 """
n = 10 
i = 1
while i<=20:
    print(i)
    i =i+1
    if i==11:
        print("End")
        break
print("done")

1
2
3
4
5
6
7
8
9
10
End
done

# Continue statement

In [6]:
n = 10
i=1
while True:
    if i%9!=0:
        print("inside if")
        i=i+1
        continue
    print("somethinng")
    print("something else")

    break
print("done")

inside if
inside if
inside if
inside if
inside if
inside if
inside if
inside if
somethinng
something else
done

In [4]:
""" write a program to print a series of 22,222,2222,22222,222222 till the bvalue given by user """
n = int(input("enter the value"))
i=1
p=2
while i<=n:
    p=(p*10)+2
    print(p)
    i=i+1
    continue
    print("this is the series")
    break
print("done")

enter the value5
22
222
2222
22222
222222
done

# for loop in python

In [2]:
""" write a program and to print the square of the number till 10"""

L = []
for i in range(10):
    print('I in value ',i)
    print(i+1)
    print(L)
    L.append(i**2)
print(L)

I in value  0
1
[]
I in value  1
2
[0]
I in value  2
3
[0, 1]
I in value  3
4
[0, 1, 4]
I in value  4
5
[0, 1, 4, 9]
I in value  5
6
[0, 1, 4, 9, 16]
I in value  6
7
[0, 1, 4, 9, 16, 25]
I in value  7
8
[0, 1, 4, 9, 16, 25, 36]
I in value  8
9
[0, 1, 4, 9, 16, 25, 36, 49]
I in value  9
10
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
range(10)#0 to 9

In [9]:
L = []
for i in range(0,100,5):#range(start,end,step)
    print(i+1)
    L.append(i**2)
print(L)

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96
[0, 25, 100, 225, 400, 625, 900, 1225, 1600, 2025, 2500, 3025, 3600, 4225, 4900, 5625, 6400, 7225, 8100, 9025]

In [2]:
""" write a program to separate positive and negative integers from the list"""
L = [24,-15,89,12,36,-85,-2,-9,-31,32,14]
L1=[]
L2=[]
for m in range(11):
    if L[m]>=0:
        L1.append(L[m])
    else :
        L2.append(L[m])
print(" the list of positive numbers are",L1)
print("the list of negative number are", L2)

 the list of positive numbers are [24, 89, 12, 36, 32, 14]
the list of negative number are [-15, -85, -2, -9, -31]

In [19]:
""" write a program to sepatae the evena and odd number in the list"""
L = [24,29,31,36,84,75,79,82,56,14,37]
L3=[]
L4=[]
for i in range(11):
    if L[i]%2==0:
        L3.append(L[i])
    else:
        L4.append(L[i])
print(L3)
print(L4)

[24, 36, 84, 82, 56, 14]
[29, 31, 75, 79, 37]

In [1]:
S = {"apple", 2.56, "pen"}
for x in S:
    print(x)
else:
    print("loop terminated")
print('DONE')

2.56
pen
apple
loop terminated
DONE

In [3]:
for i in range(10):
    if i ==15:
        break
    print(i)
else:
    print("Yes its complete")

0
1
2
3
4
5
6
7
8
9
Yes its complete

In [21]:
D = {"A": 45, "B" : 78 , 77:" C"}
for x in D:
    print(x, D[x])

A 45
B 78
77  C

# Nesting of for loop

In [4]:
""" ask a user to enter a string and filter count vowels in the string"""
L =[]
p = input("enter the string")
for i in range(len(p)):
    L.append(p[i])
print(L)
count = 0
for i in range(len(L)):
    if L[i] =="a":
        print("a vowel is in the string")
        count=count+1
        print(count)
        
for i in range(len(L)):
    if L[i] =="i":
        print("i vowel is in the string")
        count=count+1
        print(count)
        
for i in range(len(L)):
    if L[i] =="o":
        print("o vowel is in the string")
        count=count+1
        print(count)
        
for i in range(len(L)):
    if L[i] =="u":
        print("u vowel is in the string")
        count=count+1
        print(count)
        
for i in range(len(L)):
    if L[i] =="e":
        print("e vowel is in the string")
        count=count+1
        print(count)

enter the stringhi i am preet
['h', 'i', ' ', 'i', ' ', 'a', 'm', ' ', 'p', 'r', 'e', 'e', 't', ' ']
a vowel is in the string
1
i vowel is in the string
2
i vowel is in the string
3
e vowel is in the string
4
e vowel is in the string
5

In [2]:
n = int(input("enter the number"))
if n>10:
    print("hello faiyaz")
else:
    print("faiyaz")
    pass
print("bye faiyaz")

enter the number5
faiyaz
bye faiyaz

In [ ]:
write a program, unit - First 100 - no charge, next 100 unit - Rs 5 per unit, after 200 ubnit - per unit Rs 10

In [1]:
#This is the demostration of the nested for loop 
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [4]:
ls=[21,23,54,67,98,786]
lo=1
for i in ls:
    print("Loop no ",lo)
    lo+=1
    print(i)

Loop no  1
21
Loop no  2
23
Loop no  3
54
Loop no  4
67
Loop no  5
98
Loop no  6
786

In [5]:
lst=[(1,2,3),(11,12,21),(55,54)]

In [12]:
for i in lst:
    for j in i:
        print(j,end=' ')
    print()

1 2 3
11 12 21
55 54

In [9]:
for a in lst:
    print(a)

(1, 2, 3)
(11, 12, 21)
(55, 54)